name: continuous-integration
on:
  pull_request:
    branches: ["main"]
env:
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
  SERVICE_NAME: "service"
  ECR_NAME: "service-ecr"
  CLONE_DEPTH: 10
jobs:
  check-conventional-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: ensure-conventional-commits
        run: node ./scripts/git/ensure-conventional-commits.js $GITHUB_BASE_REF $GITHUB_HEAD_REF
  build-dotnet-webapi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: src/dotnet
      - name: build-dotnet-webapi
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          ./scripts/builds/dotnet/build-dotnet-app.sh src/dotnet
  run-dotnet-webapi-unit-tests:
    needs: build-dotnet-webapi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: src/dotnet
      - name: run-dotnet-webapi-unit-tests
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          ./scripts/tests/dotnet/run-dotnet-tests.sh src/dotnet
  validate-iac:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform
      - name: validate-terraform
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          ./scripts/terraform/tfm-validate.sh $GITHUB_HEAD_REF $SERVICE_NAME dev $GITHUB_HEAD_REF $BUCKET_NAME
  run-local-load-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: src local-testing
      - name: run-local-load-tests
        # if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./local-testing
          ./local-testing/scripts/run-load-tests.sh
  upload-iac-artifact:
    needs: validate-iac
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: create-iac-artifact
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          ./scripts/artifacts/create-iac-artifact.sh $GITHUB_HEAD_REF $SERVICE_NAME terraform $BUCKET_NAME
  upload-dotnet-webapi-lambda-artifact:
    needs: run-dotnet-webapi-unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: create-dotnet-webapi-lambda-artifact
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          dotnet tool install -g Amazon.Lambda.Tools
          ./scripts/artifacts/lambda/dotnet/create-dotnet-lambda-artifact.sh $GITHUB_HEAD_REF $SERVICE_NAME src/dotnet/WebApi dotnet-webapi netcoreapp3.1 $BUCKET_NAME
  upload-nodejs-server-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: upload-nodejs-server-docker-image
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          source ./scripts/aws/ecr/authenticate-with-ecr.sh $AWS_REGION $AWS_ACCOUNT_ID
          ./scripts/docker/docker-build.sh Dockerfile.create-nodejs-server-image $ECR_NAME
          ./scripts/docker/docker-tag.sh $ECR_NAME $GITHUB_HEAD_REF $AWS_REGION $AWS_ACCOUNT_ID
          ./scripts/docker/docker-push.sh $ECR_NAME $GITHUB_HEAD_REF $AWS_REGION $AWS_ACCOUNT_ID
          ./scripts/aws/ecr/remove-untagged-images-from-ecr.sh $ECR_NAME $AWS_REGION
  upload-dotnet-lambda-artifact:
    needs: run-dotnet-webapi-unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: create-dotnet-lambda-artifact
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          dotnet tool install -g Amazon.Lambda.Tools
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          ./scripts/artifacts/lambda/dotnet/create-dotnet-lambda-artifact.sh $GITHUB_HEAD_REF $SERVICE_NAME src/dotnet/Function dotnet-function netcoreapp3.1 $BUCKET_NAME
  upload-nodejs-lambda-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: create-nodejs-lambda-artifact
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          ./scripts/artifacts/lambda/nodejs/create-nodejs-lambda-artifact.sh $GITHUB_HEAD_REF $SERVICE_NAME src/nodejs/lambda $BUCKET_NAME
  upload-python-lambda-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: create-python-lambda-artifact
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          ./scripts/artifacts/lambda/python/create-python-lambda-artifact.sh $GITHUB_HEAD_REF $SERVICE_NAME src/python $BUCKET_NAME
  download-branch-artifacts:
    needs: upload-iac-artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - name: download-branch-artifacts
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          source ./scripts/aws/credentials/set-up-user-credentials.sh $AWS_REGION $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
          ./scripts/artifacts/download-artifact.sh $GITHUB_HEAD_REF $SERVICE_NAME $BUCKET_NAME terraform deployment-folder
      - uses: actions/upload-artifact@v2
        with:
          name: deployment-folder
          path: deployment-folder
  plan-branch-deployment:
    needs:
      [
        download-branch-artifacts,
        upload-dotnet-webapi-lambda-artifact,
        upload-nodejs-server-docker-image,
        upload-dotnet-lambda-artifact,
        upload-nodejs-lambda-artifact,
        upload-python-lambda-artifact,
      ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - uses: actions/download-artifact@v2
        if: steps.changed-path.outputs.changed == 'true'
        with:
          name: deployment-folder
          path: deployment-folder
      - name: plan-branch-deployment
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          ./scripts/terraform/tfm-plan.sh $GITHUB_HEAD_REF $SERVICE_NAME dev $GITHUB_HEAD_REF $ECR_NAME $GITHUB_HEAD_REF $BUCKET_NAME deployment-folder
  deploy-branch:
    needs: plan-branch-deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - uses: actions/download-artifact@v2
        if: steps.changed-path.outputs.changed == 'true'
        with:
          name: deployment-folder
          path: deployment-folder
      - name: deploy-branch
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          ./scripts/terraform/tfm-apply.sh $GITHUB_HEAD_REF $SERVICE_NAME dev $GITHUB_HEAD_REF $ECR_NAME $GITHUB_HEAD_REF $BUCKET_NAME deployment-folder output-folder
      - uses: actions/upload-artifact@v2
        with:
          name: output-folder
          path: output-folder
  run-performance-tests:
    needs: deploy-branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - uses: actions/download-artifact@v2
        if: steps.changed-path.outputs.changed == 'true'
        with:
          name: output-folder
          path: output-folder
      - name: copy-app-file-to-tests-folder
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          cp ./output-folder/app.json ./tests/performance/app.json
      - name: run-performance-tests
        if: steps.changed-path.outputs.changed == 'true'
        uses: k6io/action@v0.1
        with:
          filename: tests/performance/performance-tests.js
          flags: --vus 10 --duration 15s
  # INFO: E2E TESTS GO AFTER PERFORMANCE TESTS
  #       TO TAKE INTO ACCOUNT LAMBDAS' COLDSTARTS
  run-e2e-tests:
    needs: run-performance-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: ${{ env.CLONE_DEPTH }}
      - uses: marceloprado/has-changed-path@v1
        id: changed-path
        with:
          paths: terraform src tests
      - uses: actions/download-artifact@v2
        if: steps.changed-path.outputs.changed == 'true'
        with:
          name: output-folder
          path: output-folder
      - name: run-e2e-tests
        if: steps.changed-path.outputs.changed == 'true'
        run: |
          chmod +x -R ./scripts
          ./scripts/tests/js/run-js-tests.sh tests/e2e e2e output-folder/app.json
